<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js" integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA==" crossorigin="anonymous"></script>
    <!-- <script src="static/js/main.js"></script> -->
    <script src="{{ url_for('static', filename='js/main.js', version='1') }}"></script>
    <title>hahaha</title>
</head>
<body>
    <header>
        <h1>Hello from psyhushka</h1>
    </header>
    <main>
        <!-- <p>{{ tim }}</p> -->
        <!-- <div class="container">
            <div class="joystick">
                <img src="static/images/joystick.png" alt="">
                <div id="stick1">
                    <img src="static/images/stick.png"/>		
                </div>
            </div>
        </div> -->
        <canvas class='video-stream'></canvas>
    </main>
    <footer>

    </footer>
</body>
</html>